#searchCard {

    padding-left: 0px;
    padding-right: 0px;
    
}

#city {

    margin-top: 0px;
    margin-bottom: 0px;
    height: 905px;
    background-color: rgb(115, 118, 119);
}

#resultsCard {

    padding-left: 0px;
    padding-right: 0px;  
}

#results {

    height: 905px;
    margin-top: 0px;

}

.nav-wrapper {

    background-color: rgb(42, 46, 51);
}

.card-title {

   
    margin-left: 100px;
}


#formLeft{
      align-content:right;
      width: 175px;

  }

  /* search form */
 #searchIcon{
    border-radius: 0px 5px 5px 0px;
    float: left;
    background: #0b7dda;
    width: 40px;
    height: 41px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    /* box-sizing: border-box; */
    

 }
 
 #searchBox {
     border-radius: 5px 0px 0px 5px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin: 1px 0px 0px 17px;
    height: 37px;
    width: 284px;
    background-color: white;
    color: black;

 }

 #showResults {

    width: 600px;
    height: 600px;
    
 }

 /* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}